<div id="contactPage">
  <div id="greeting"><span class="mobile_hide">Please, </span>Drop Me A Note.</div>
  <form>
    <div>
      <input type="text" name="name" placeholder="Name" required autocomplete="off" [(ngModel)]="model.name"/>
    </div>
    <div>
      <input type="text" name="email" placeholder="Email" required autocomplete="off" [(ngModel)]="model.email"/>
    </div>
    <div>
      <textarea type="text" name="note" placeholder="Message" required [(ngModel)]="model.message"></textarea>
    </div>
    <button type="submit" name="submit" (click)="mailForm($event)">Send</button>
  </form> 
  <div id="footer">
    <div> (310)&nbsp;957-1907&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;jason@thebarnetts.ws</div>
    <div>
      <a href='https://www.linkedin.com/in/jasonhbarnett/'><img src='../../../assets/li.svg'/></a>
      <a href='https://github.com/jhbarnett'><img src='../../../assets/gh.png'/></a>
      <a href='https://www.facebook.com/jasonhuntbarnett'><img src='../../../assets/fb.png'/></a>
    </div>
  </div>
</div>
