#contactPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 825px;
  margin: 15px auto auto;
}

#contactPage #greeting {
  font-size: 2.5em;
  margin-bottom: 35px; 
}

#contactPage > form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  width: 400px;
}

input {
  border: none;
  border-bottom: solid 2px  black;
  font-size: 1.5em;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

textarea[name=note] {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 10em;
  resize: none;
  border: none;
  border-right: solid 2px black;
  border-left: solid 2px black; 
  color: black;
  font-size: 1.5em;
  font-family: Questrial;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 98%;
}

textarea:focus, input:focus{
  outline: none;
}

input:focus {
  border-bottom: solid 2px #969696;
}

textarea:focus {
  border-right: solid 2px #969696;
  border-left: solid 2px #969696;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; 
  font-family: Questrial;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; 
  font-family: Questrial;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; 
  font-family: Questrial;
}

textarea::placeholder,
input::placeholder {
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; 
  font-family: Questrial;
}

textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: #969696;
}

textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
  color: #969696;
}

textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  color: #969696;
}

textarea:focus::placeholder,
input:focus::placeholder {
  color: #969696;
}

input:invalid {
  box-shadow: none;
}

textarea[name=note]:invalid {
    box-shadow: none;
}

button[name="submit"] {
  height: 50px;
  width: 100%;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 1.5em;
  -webkit-transition: all .4s;
  transition: all .4s;
}

button[name='submit']:hover {
  background-color: black;
  color: white;
}

button[name='submit']:focus {
  outline: none;
}

#contactPage #footer {
  margin-top: 35px;
  -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}

#footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer a{
  margin: 1em;
}

#footer a img {
  height: 2em;
  width: auto;
}