<div id="contactPage">
  <div id="greeting">Drop Me A Message.</div>
  <form>
    <div>
      <input type="text" name="name" placeholder="Name" required autocomplete="off" />
    </div>
    <div>
      <input type="text" name="email" placeholder="Email" required autocomplete="off"/>
    </div>
    <div>
      <textarea type="text" name="note" placeholder="Note" required></textarea>
    </div>
    <button type="submit" name="submit">Send</button>
  </form> 
  <div id="footer">
    <div> Jason Barnett&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;(310)&nbsp;957-1907&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;jason@thebarnetts.ws</div>
    <div>
      <a href='https://www.linkedin.com/in/jasonhbarnett/'><img src='../../../assets/li.svg'/></a>
      <a href='https://github.com/jhbarnett'><img src='../../../assets/gh.png'/></a>
      <a href='https://www.facebook.com/jasonhuntbarnett'><img src='../../../assets/fb.png'/></a>
    </div>
  </div>
</div>
