div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  height: 100%;
}
div > a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 50%;
  padding: 1% 2% 0;
}

div > a:hover {
  border-top: 2px solid black;
}

.active {
  border-top: 2px solid black;
}