<div id="mainPage">
  <div class="leftHalf">
    <div class="gallery">
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery1.jpg)'}">
        <div>
          <span class="details">
            <span class="location">Backpacking Yosemite</span>
            <span class="date">July 2016</span>
          </span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery2.jpg)'}">
        <div>
          <span class="details">
            <span class="location">Crestwood Hills Park</span>
            <span class="date">August 2015</span>
          </span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery3.jpg)'}">
        <div>
          <span class="details">
            <span class="location">A Kenneth Pye Award</span>
            <span class="date">April 2016</span>
          </span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery4.jpg)'}">
        <div>
          <span class="details">
            <span class="location">Helicopter over NYC</span>
            <span class="date">February 2016</span>
          </span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery5.jpg)'}">
        <div>
          <span class="details">
            <span class="location">Intramural Championship</span>
            <span class="date">March 2016</span>
          </span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery6.jpg)'}">
        <div>
          <span class="details">
            <span class="location">Placeholder...</span>
            <span class="date">JFMA 20XX</span>
          </span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery7.jpg)'}">
        <div>
          <span class="details">
            <span class="location">Placeholder...</span>
            <span class="date">JFMA 20XX</span>
          </span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery8.png)'}">
        <div>
          <span class="details">
            <span class="location">Placeholder...</span>
            <span class="date">JFMA 20XX</span>
          </span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery9.jpg)'}">
        <div>
          <span class="details">
            <span class="location">Placeholder...</span>
            <span class="date">JFMA 20XX</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="rightHalf">
    <div id="bio">
       <p>
         Jason Barnett is a Full Stack JavaScript Engineer living in Austin, Texas. He is adept at client-side UI with React, Angular 2, HTML5, & CSS3, as well as route management and database querying with Node.js. In his time, he has grown accustomed to developer best practices, with a regard for agile development, version control, RESTful API services, and test driven development.
       </p>
       <p>
         What separates Jason from the crowd are his strong interdisciplinary talents. He graduated from Southern Methodist University’s Cox School of Business with a BBA in Finance and a focus on Strategy & Entrepreneurship. Consequently, Jason has excelled across various roles – from research to marketing, sales, and administration. As a software engineer, he brings all of this to the table.
       </p>
       <p>
         If you are compelled to contact Jason with interest in his past, present, or future, please don’t hesitate to do so <a routerLink='/contact'>here</a>. He is currently considering both full-time and contract opportunities.
       </p>
    </div>
  </div>
</div>
