<div id="mainPage">
  <div class="leftHalf">
    <div class="gallery">
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery1.jpg)'}">
        <div>
            <span>
            My girlfriend and I embark upon a 3-day, 25-mile trek along the John Muir Trail in Yosemite, CA</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery2.JPG)'}">
        <div>
            <span>
            Bungy Jumping in Queenstown, New Zealand</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery3.JPG)'}">
        <div>
            <span>
            Receiving the A. Kenneth Pye Leadership Award in for my achievements as president of the Delta Mu Chapter of Sigma Chi</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery4.jpg)'}">
        <div>
            <span>
            Off of the trail in Virunga National Park, sitting among a band of gorillas and its leader</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery5.jpg)'}">
        <div>
            <span>
            Took four years, but here we are victorious after the intramural basketball championships</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery6.jpg)'}">
        <div>
            <span>
            My brother and I join the Maasai tribe in a ritualistic performance of strength, in Tanzania</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery7.jpg)'}">
        <div>
            <span>
            Waterfall repelling in the jungles of Costa Rica</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery8.jpg)'}">
        <div>
            <span>
            Getting fancy with Olivia Leonard</span>
        </div>
      </div>
      <div class="galleryImg mobile_hide" [ngStyle]="{'background-image': 'url(../../assets/gallery9.jpg)'}">
        <div>
            <span>
            Hiking to our campsite at Fort Richardson State Park</span>
        </div>
      </div>
    </div>
    <div id="gallery_helper">(tap a photo for more info)</div>
  </div>
  <div class="rightHalf">
    <div id="bio">
       <p>
         Jason Barnett is a Full Stack Developer living in Austin, Texas. He is adept at client-side UI with today's most compelling front-end technologies, as well as database management, DevOps, and system architecture. He is accustomed with best practices and holds a keen regard for agile development, Git work-flow, RESTful API services, and test driven development.
       </p>
       <p>
         What separates Jason from the crowd is his strong interdisciplinary talent. He graduated from Southern Methodist University’s Cox School of Business with a BBA in Finance and a focus on Strategy & Entrepreneurship. Consequently, Jason has excelled across various roles – from research to marketing, sales, and administration. As a software engineer this contributes to a unique perspective, enabling him to focus on product strategy and business value from the ground up.
       </p>
       <p>
         If you wish to contact Jason with interest in his past, present, or future, please don’t hesitate to do so <a routerLink='/contact'>here</a>. He is currently fielding both full-time and contract opportunities.
       </p>
    </div>
  </div>
</div>
