#mainPage {
  display: flex;
  height: 100%;
}

  .leftHalf {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .gallery {
      height: 70%;
      width: 70%;
      display: flex;
      flex-flow: row wrap;
    }

      .galleryImg {
        flex: 1;
        border: 1px solid black;
        min-width: 25%;
        min-height: 25%;
      }

.rightHalf {
  flex: 1;
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #bio {
    width: 70%;
    height: 70%;
    border: 1px solid black;
  }
