<div id="mainPage">
  <div class="leftHalf">
    <div class="gallery">
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery1.jpg)'}">
        <div>
            <span>
            My girlfriend and I embark upon a 3-day, 25-mile trek along the John Muir Trail in Yosemite, CA</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery2.JPG)'}">
        <div>
            <span>
            Bungy Jumping in Queenstown, New Zealand</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery3.JPG)'}">
        <div>
            <span>
            Receiving the A. Kenneth Pye Leadership Award for my achievements as president of the Delta Mu Chapter of Sigma Chi</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery4.jpg)'}">
        <div>
            <span>
            Off of the trail in Virunga National Park, sitting among a band of gorillas and its leader</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery5.jpg)'}">
        <div>
            <span>
            Took four years, but here we are victorious after the intramural basketball championships</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery6.jpg)'}">
        <div>
            <span>
            My brother and I join the Maasai tribe in a ritualistic performance of strength, in Tanzania</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery7.jpg)'}">
        <div>
            <span>
            Waterfall repelling in the jungles of Costa Rica</span>
        </div>
      </div>
      <div class="galleryImg" [ngStyle]="{'background-image': 'url(../../assets/gallery8.jpg)'}">
        <div>
            <span>
            Getting fancy with Olivia Leonard</span>
        </div>
      </div>
      <div class="galleryImg mobile_hide" [ngStyle]="{'background-image': 'url(../../assets/gallery9.jpg)'}">
        <div>
            <span>
            Hiking to our campsite at Fort Richardson State Park</span>
        </div>
      </div>
    </div>
    <div id="gallery_helper">(tap a photo for more info)</div>
  </div>
  <div class="rightHalf">
    <div id="bio">
       <p>
         Jason Barnett is a young professional living in Austin, Texas. He is passionate about getting outdoors and traveling, and also loves live music and non-fiction literature. He is currently reading Michael Lewis' The Undoing Project.
       </p>
       <p>
         What separates Jason from the crowd are his strong interdisciplinary talents. He is a full stack developer with an intrigue for innovative design. Also, he earned his B.B.A. in Finance & Entrepreneurship, which facilitates habits trading stocks and formulating business plans. Ultimately, it is Jason's dream to be a social entrepreneur based in Latin America. In the meantime, he's pursuing careers as a software engineer and product manager (in no specific order).
       </p>
       <p>
         With that out there, Jason would like to welcome you to his website - a personal playground of sorts. Soon, you will see blog posts, in addition to experiments in UI design principles (if you can't read this, try Chrome). If you wish to contact Jason, please do <a routerLink='/contact'>here</a>! He welcomes just about any conversation, but will likely get back to you sooner if its regarding exponential technologies or backpacking.
       </p>
    </div>
  </div>
</div>
