#portfolioPage {
  display: flex;
  height: 100%;
}

  #portfolioPage .gallery {
    flex: 1;  
    display: flex;
    flex-direction: column;
  }

    .gallery .mainApp {
      flex: 2.5;
      display: flex;
      justify-content: center;
    }

    .gallery .prevApp {
      flex: 1;
      display: flex;
      justify-content: center;
      max-height: 25%;
    }

    .gallery .nextApp {
      flex: 1;
      display: flex;
      justify-content: center;
      max-height: 25%;
    }
     
      .gallery .mainApp a {
        width: 90%;
        height: 90%;
        align-self: center;
        background: no-repeat center/100% url(../../../assets/butter.png);
        box-shadow: -5px 0px 13px 4px #ccc
      }

      .gallery .prevApp a {
        height: 90%;
        width: 90%;
        align-self: flex-start;
        background: no-repeat bottom/100% url(../../../assets/line4line.png);
        box-shadow: -5px 5px 13px 4px #ccc;
      }

      .gallery .nextApp a {
        height: 90%;
        width: 90%;
        align-self: flex-end;
        background: no-repeat top/100% url(../../../assets/iluddite.png);
        box-shadow: -5px -5px 13px 4px #ccc;
      }

  #portfolioPage .description {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

    .description .appTitle {
      flex: 1;
      background-color: purple; 
    }

    .description .appDesc {
      flex: 2.5;
      background-color: orange; 
    }

    .description .appSrc {
      flex: 1;
      background-color: pink; 
    }


