<div id="portfolioPage">
  <div #wrap class="wrap" (window:resize)="onResize($event)">
    <button (click)="prev()"><span *ngIf="pos > 0">&larr;</span></button>
    <div #slider class="slider">
      <ul #items class="items">
        <li class="item" *ngFor="let project of projects" [ngStyle]="{'background-image': 'url(' + project.image + ')'}"></li>
      </ul>
    </div>
    <button (click)="next()"><span *ngIf="pos < projects.length - 1">&rarr;</span></button>
  </div>
  <div class="info">
  </div>
</div>