#portfolioPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 98.5%;
  margin-top: 10px;
}
.wrap {
  -webkit-box-flex:3;
      -ms-flex:3;
          flex:3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin: auto;
}
.wrap > button {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border: none;
  background: transparent;
  color: black;
  font-size: 40px;
  height: 100%;
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  z-index: 2;
}
.wrap > button:hover {
  opacity: 1;
}

.wrap > button:first-child {
  border-right: 2px solid black;
  box-shadow: 0 0 0 0 white, 
              15px 0px 20px -5px #ccc,
              0 0 0 0 white, 
              0 0 0 0 white;
}
.wrap > button:last-child {
  border-left: 2px solid black;
  box-shadow: 0 0 0 0 white, 
              0 0 0 0 white, 
              0 0 0 0 white,
              -15px 0px 20px -5px #ccc;
}

.slider {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  overflow: hidden;
  min-width: 65%;
  box-shadow: 2px -14px 15px -10px #ccc,
              0 0 0 0 white, 
              -2px 14px 15px -10px #ccc, 
               0 0 0 0 white;
  margin: 2% 0%;
}
.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
.item {
  display: inline-block;
  min-width: 100%;
  min-height: 41.5em;
  font-size: 10px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
}

.left {
  text-align: right;
  padding-right: 5%; 
  -webkit-box-flex: 3; 
      -ms-flex: 3; 
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  border-right: 2px solid black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left #title {
  text-decoration: none;
  color: black;
  text-align: right;
  font-size: 2em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.left #title:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.description {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  padding: 0 5%;
  font-size: 1em;
  
}

.description a {
  text-decoration: none;
  color: blue;
}

.mobileButtons {
  display: none;
}

@media only screen and (max-width: 700px) {
  .wrap {
    flex: none;
  }

  .slider {
    box-shadow: none;
  }
  .item {
    min-height: 26em;
  }

  .info {
    flex-direction: column;
    width: 90%;
    max-width: none;
    text-align: center;
  }

  .left {
    width: 40%;
    border-right: none;
    padding: 0 10%;
    border-bottom: 2px solid black;
    max-height: 4em;
  }

  .left #title {
    text-align: center;
  }

  .description {
    max-height: auto;
    width: 90%;
    margin-top: 20px;
  }

  .mobile_hide {
    display: none;
  }

  .mobileButtons {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .mobileButtons > button {
    font-size: 1.5em;
    margin: 0 8%;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: transparent;
    outline: none;
  }

}