@import url('https://fonts.googleapis.com/css?family=Questrial');

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.header {
  flex: 1;
  display: flex;
  width: 100%;
  box-shadow: -2px 4px 3px -5px black;
  padding: 0 2em 0 1em;
}

.header .title {
  flex: 3;
  text-align: left;
  font-size: 4em; 
  text-decoration: none;
  color: black;
}

.header .nav {
  flex: 1.25;
  text-align: right;
}

.content {
  flex: 11;
  padding-top: .075%;
}
