#blogPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

  #blogPage .blogPosts {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

    .blogPosts .filterParams {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

      .filterParams .inputParams {
        -webkit-box-flex: 3;
            -ms-flex: 3;
                flex: 3;
        background-color: yellow;
      }

      .filterParams .sortParams {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        background-color: green;
      }

    .blogPosts .posts {
      -webkit-box-flex: 14;
          -ms-flex: 14;
              flex: 14;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background-color: red;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

      .posts .post {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: 95%;
        height: 10%;
        background-color: pink;
        margin: 1% 0;
      }

  #blogPage .selectedPost {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: purple;
  }

    .selectedPost .postTitle {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      background-color: blue;
    }

    .selectedPost .postContent {
      -webkit-box-flex: 9;
          -ms-flex: 9;
              flex: 9;
      background-color: orange;
    }