/* You can add global styles to this file, and also import other style files */
html, 
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: black;
  font-family: 'Questrial', sans-serif; 
}

#loading {
  text-align: center;
  font-size: 4em;
  height: 5%;
  margin: 95%;
}


/* Safari only overrides */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media {
  #mainPage {
    transform: translateY(6em) !important;
  }

    .gallery {
      flex-basis: auto !important;
    }

      .galleryImg {
        min-height: 150px !important;
      }

  #portfolioPage .wrap button {
    min-height: 450px !important;
  }

    .info {
      transform: translateY(4em) !important;
    }

    .info .left {
      min-height: 100px !important;
    }

    .mobileButtons {
      transform: translateY(6em) !important; 
    }

  #contactPage {
    transform: translateY(2em) !important; 
  }

  #contactPage input {
    margin-bottom: 30px !important;
  }

  #contactPage textarea {
    margin-bottom: 30px !important;
  }

}}

/* Safari 10.1+ */

@media not all and (min-resolution:.001dpcm) { @media {
  #mainPage {
    transform: translateY(6em) !important;
  }

    .gallery {
      flex-basis: auto !important;
    }

      .galleryImg {
        min-height: 150px !important;
      }

  #portfolioPage .wrap button {
    min-height: 450px !important;
  }

    .info {
      transform: translateY(4em) !important;
    }

    .info .left {
      min-height: 100px !important;
    }

    .mobileButtons {
      transform: translateY(6em) !important; 
    }

  #contactPage {
    transform: translateY(2em) !important; 
  }

  #contactPage input {
    margin-bottom: 30px !important;
  }

  #contactPage textarea {
    margin-bottom: 30px !important;
  }
}}